.QnA {
  .table-qna {
    .question, .answer {
      max-width: 350px;
    }

    .code, .index {
      min-width: 80px;
    }

  }

  .table-announcement {
    .index {
      min-width: 80px;
    }
  }

  th {
    font-weight: 500;
    font-size: 14px;
  }
}



