@import "../../shadow.scss";
@import "../../grid.scss";
@import "../../theme.scss";

$header-height: 110px;
$header-fold-height: 80px;

$logo-height: 24px;
$menu-font-size: 15px;

$helper-height: 50px;

.Header {
  @include box_shadow(1);
  background-color: white;

  .menu-toggle {
    @extend .flex-align-items-center;

    & > .ti-menu {
      cursor: pointer;
    }
  }

  .logo-link {
    @media (max-width: 767px) {
      height: $header-fold-height - $header-height !important;
    }

    height: $header-height - $helper-height;
    @extend .flex-align-items-center;
  }

  .logo-image {
    height: $logo-height;
  }

  .menu-list {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    margin-bottom: 0;

    @extend .flex-justify-content-end;
  }

  .menu-item {
    display: flex;
    padding: 0 5px;
    margin: 0 8px;

    @media (max-width: 767px) {
      height: $header-fold-height - $helper-height !important;
    }

    height: $header-height - $helper-height;

    a {
      font-size: $menu-font-size;
      font-weight: 200;
      color: #222;

      border-top: 2px solid transparent;
      border-bottom: 2px solid transparent;

      &:focus {
        text-decoration: none;
      }

      @extend .flex-align-items-center;

      &:hover, &.active {
        text-decoration: none;

        color: #F75B3C;
        border-top: 2px solid transparent;
        border-bottom: 2px solid #F75B3C;
      }
    }

    .user-info {
      height: 100%;
    }
  }

  .helper-wrapper {
    background: rgba(0, 0, 0, .03);
    height: $helper-height;

    display: flex;

    align-items: center;

    .helper {
      font-weight: 300;

      display: flex;
    }

    .time-basis {
      letter-spacing: 2px;
    }

    .time-value {
      width: 150px;
      display: inline-block;
      text-decoration: underline;
    }

    .solved-value {
      text-decoration: underline;
    }
  }
}
