@import "./shadow.scss";

body {
  font-family: "Noto Sans", sans-serif;

  -webkit-font-smoothing: antialiased;
}

.App {
}

.font-weight-lighter {
  font-weight: lighter;
}

.font-weight-light {
  font-weight: 300;
}

.btn-custom {
  padding: 8px 12px;

  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;

  min-width: 120px;

  border-radius: 2px;
  cursor: pointer;

  border: 0;

  @extend .paper;

  &.btn-danger {
    background-color: #FF4D4D;
    color: #fff;

    &:hover {
      background-color: #EA3636;
      border-color: #EA3636;
      color: #fff;
    }
  }

  &.btn-black {
    background-color: #212121;
    color: #fff;

    &:hover {
      background-color: #080808;
      border-color: #080808;
      color: #fff;
    }
  }

  &.btn-info {
    background-color: #296CCE;
    color: white;
  }
}

.page {
  padding-top: 50px;
  padding-bottom: 50px;

  &.page-grey {
    background-color: #eeedee;
    color: #212121;
  }

  &-title {
    margin-bottom: 50px;

    & h1 {
      letter-spacing: .5em;
      font-size: 30px;
      line-height: 1.8;
      text-transform: uppercase;

      margin-bottom: 0;
    }

    & p {
      letter-spacing: 1px;
      font-weight: 300;
      font-size: 13px;
    }
  }
}

.paper {
  @include box_shadow(1);
  transition: all .3s ease;

  &:hover {
    @include box_shadow(2);
  }
}

.scalable {
  transition: all .3s ease;

  &:hover {
    transform: scale(1.01, 1);
  }
}

.b-0 {
  border: 0;
}

.table-custom {
  th, td {
    padding: 20px;
  }

  th {
    border-bottom: 1px solid #eee;
  }

  td {
    vertical-align: top;
  }
}
